Repository middyjs/middy, pull requests merged in 2018-04, with the labels that each got.

#156 Added logger option in httpErrorHandler middleware
  docs/middlewares.md
  middlewares.d.ts
  package-lock.json
  package.json
  src/middlewares/__tests__/httpErrorHandler.js
  src/middlewares/httpErrorHandler.js
  tsconfig.json
Labels: enhancement, feature request, middleware

#152 Update ssm middleware to accept paths
  README.md
  README.md.hb
  docs/middlewares.md
  middlewares.d.ts
  package-lock.json
  package.json
  src/middlewares/__tests__/ssm.js
  src/middlewares/ssm.js
Labels: enhancement, middleware

#164 Documentation changes
  README.md
  README.md.hb
  docs/middlewares.md
  package-lock.json
  package.json
Labels: documentation, enhancement

#161 feat: add in i18n support for validator
  README.md
  docs/middlewares.md
  package-lock.json
  package.json
  src/middlewares/__tests__/validator.js
  src/middlewares/validator.js
Labels: enhancement, feature request
